{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <form method="POST">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    {% if not movimiento %}
                                        <h3>Agregar Movimiento</h3>
                                    {% else %}
                                        <h3>Movimiento #{{ movimiento.pk }}</h3>
                                    {% endif %}
                                </div>
                                <div class="col-8 d-flex align-items-center justify-content-end">
                                    {% if not movimiento %}
                                        <a href="{% url "tarjeta_detalle" tarjeta.id %}" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                    {% else %}
                                        <a href="{% url "tarjeta_detalle" movimiento.tarjeta_id %}" class="btn btn-dark"><i class="fa fa-chevron-left"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="field-group">
                                        <label for="{{ form.cantidad.id_for_label }}">{{ form.cantidad.label }}</label>
                                        {% render_field form.cantidad class="form-control" disabled="disabled" %}
                                        <span class="text-danger">{{ form.cantidad.errors }}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="field-group">
                                        <label for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
                                        {% render_field form.tipo class="form-control" disabled="disabled" %}
                                        <span class="text-danger">{{ form.tipo.errors }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="field-group">
                                        <label for="{{ form.concepto.id_for_label }}">{{ form.concepto.label }}</label>
                                        {% render_field form.concepto class="form-control" disabled="disabled" %}
                                        <span class="text-danger">{{ form.concepto.errors }}</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="field-group">
                                        <label for="{{ form.adjunto.id_for_label }}">{{ form.adjunto.label }}</label>
                                        {% render_field form.adjunto class="form-control-file" disabled="disabled" %}
                                        <span class="text-danger">{{ form.adjunto.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
