
.full-frame {
    border: none;
    width: 100%;
    height: 100%;
}

.big-modal, .big-modal .modal-dialog {
    height: 100%;
}

.big-modal .modal-dialog {
    width: 67%;
}

.big-modal .modal-content {
    height: 790px;
}