{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title|default:"Calcula" }}</title>
        <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="shortcut icon" href="{% static "imgs/icono.png" %}"/>
    </head>
    <body ng-app="App">

        {% include "components/navbar.html" %}

        {% block content %}

        {% endblock %}

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/ng_file/ng-file-upload-shim.min.js" %}"></script>
        <script src="{% static "js/ng_file/ng-file-upload.min.js" %}"></script>
        <script src="{% static "js/angular/app.js" %}"></script>
        <script>
            $('.modal').modal()
            $(document).ready(function () {
                $('.dropdown-submenu a.dropdown-item.dropdown-toggle').on("click", function (e) {
                    let hasclass = $(this).hasClass('active')
                    $('.dropdown-submenu a.dropdown-item.dropdown-toggle.active').removeClass('active').next('ul').toggle();
                    if (!hasclass) {
                        $(this).addClass('active')
                        $(this).next('ul').toggle();
                    }
                    e.stopPropagation();
                    e.preventDefault();
                });
                $('.dropdown>a.dropdown-toggle').on("click", function (e) {
                    $('.dropdown-submenu a.dropdown-item.dropdown-toggle.active').removeClass('active').next('ul').toggle();
                });
            });
        </script>
        <script>
            csrfmiddlewaretoken = "{{ csrf_token }}"

            function close_modal() {
                $('#modal').modal('hide')
            }

            function close_modal_and_reload() {
                let controllers = $('[ng-controller="GenericSubListController"]');
                controllers.each(function (index, controller) {
                    let $scope = $(controller).scope();
                    $scope.load();
                });
                close_modal();
            }
        </script>
        {% block extrajs %}

        {% endblock %}
    </body>
</html>