{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4"><h3>Tarjeta #{{ item_id }}</h3></div>
                        <div class="col-8 d-flex flex-row-reverse">
                            <button onclick="send_api('/api/tarjeta/{{ item_id }}/refresh/')"
                               class="btn btn-info"><i
                                    class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="field-group">
                                <label class="font-weight-bold">Número</label>
                                <div>{{ item.get_tarjeta_display }}</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="field-group">
                                <label class="font-weight-bold">Banco</label>
                                <div>{{ item.banco }}</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="field-group">
                                <label class="font-weight-bold">Dueño</label>
                                <div>{{ item.owner }}</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="field-group">
                                <label class="font-weight-bold">Balance</label>
                                <div>{{ item.balance }}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% include "components/sub_list.html" with parent="tarjeta" module="Movimientos" model="movimiento" %}
                    <hr>
                    {% include "components/sub_list.html" with parent="tarjeta" module="Pagos pendientes" model="pagopendiente" %}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% include "components/sub_list.html" with parent="tarjeta" module="Abonos pendientes" model="abonopendiente" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('.modal').modal('hide')
        })

        function send_api(url) {
            let consume = window.location.origin + url
            $.ajax(consume).done(function(res) {
                window.location.reload();
            })
        }

    </script>
    <script src="{% static "js/angular/GenericListController.js" %}"></script>
    <script src="{% static "js/angular/GenericSubListController.js" %}"></script>
{% endblock %}